<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600353995740-ibp5tenkifs3rdalkh2e7o34c679fsvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600353995740-ibp5tenkifs3rdalkh2e7o34c679fsvg</string>
	<key>API_KEY</key>
	<string>AIzaSyC80pC7UdObsc4giypLx9pdOQ60YLtBqH4</string>
	<key>GCM_SENDER_ID</key>
	<string>600353995740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travid.TRAVID</string>
	<key>PROJECT_ID</key>
	<string>travid-1df80</string>
	<key>STORAGE_BUCKET</key>
	<string>travid-1df80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600353995740:ios:b5c85cf15178eda4706d19</string>
	<key>DATABASE_URL</key>
	<string>https://travid-1df80.firebaseio.com</string>
</dict>
</plist>